body{
    /*no se hereda*/
    background-color: aqua;
    border: 2px,solid,salmon;
    font-family: 'Courier New', Courier, monospace;
    /*heredable*/
    font-size: 17px;
    color:rgb(131, 126, 119);
}

header{
    /*heredable*/
    text-align: center;
    color: blueviolet;
    /*no heredable*/
    border: 15px,dotted,palevioletred;
}
h1{
    border: inherit;
    color: initial;
    text-align: initial;
}

a{
    color: inherit;
    text-decoration: none;
}