* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider {
    width: 100%;
    max-width: 600px;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;

}
.imagenes {
    display: flex;
    width: 400%;
    animation: slide 20s infinite;
}
.imagen {
    width: 100%;
}
.imagen img {
    width: 100%;
    height: 100%;
}
@keyframes slide {
    0% { transform: translateX(0%); }
    25% { transform: translateX(-100%); }
    45% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    100% { transform: translateX(-300%); }
}